<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Info</title>
    <script src="../static/profile_scripts.js" ></script>
    <style>
        #imageContainer > img{
            width: 250px;
            height: auto;
            clip-path: circle();
        }
    </style>
</head>
<body id="profile_body">
    <h2>User Info</h2>
    <br>
        <div id="username"></div>
        <div id="bio"></div>
        <div id="statistics"></div>
        <div id="imageContainer"></div>
    <br><br>
    <h2>Upload Image</h2>
    <br>
    <form action="http://127.0.0.1:8000/api/profile/setpicture" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="text" name="user_id" placeholder="user_id">
        <button type="submit">Upload</button>
    </form>
    <br><br>
    <h2>New Default Image Seed</h2>
    <br>
    <form id="setnewdefaultseed">
        <input type="text" name="new_seed" placeholder="new_seed">
        <button type="submit">Upload</button>
    </form>
    <br><br>
    <h2>Edit Bio</h2>
    <br>
    <form id="editBio">
        <input type="text" id="new_bio" name="new_bio">
        <button type="submit">Upload</button>
    </form>
    <br><br>
    <h2>Block User</h2>
    <br>
    <form id="blockuser">
        <input type="text" id="blocked_user" name="blocked_user">
        <button type="submit">Upload</button>
    </form>

    <script>
        document.getElementById("editBio").addEventListener("submit", function(event) {
            event.preventDefault();

            const formData = new FormData(editBio);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            })

            fetch("http://127.0.0.1:8000/api/profile/setbio", {
                credentials: 'include',
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonData)
            })
        })
    </script>

    <script>
        document.getElementById("setnewdefaultseed").addEventListener("submit", function(event) {
            event.preventDefault();

            const formData = new FormData(setnewdefaultseed);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            })

            fetch("http://127.0.0.1:8000/api/profile/setnewdefaultseed", {
                credentials: 'include',
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonData)
            })
        })
    </script>

    <script>
        document.getElementById("blockuser").addEventListener("submit", function(event) {
            event.preventDefault();

            const formData = new FormData(blockuser);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            })

            fetch("http://127.0.0.1:8000/api/friendships/blockuser", {
                credentials: 'include',
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonData)
            })
        })
    </script>
</body>
</html>