* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #292B2F;
}

/*
.content-small {
	margin: 80px 24px 0px 224px;
	background-color: #dbd9d7;
}

.content-large {
	margin: 80px 24px 0px 84px;
	background-color: #dbd9d7;
}
*/

/*
	56px -> header size
	8px  -> padding top side-panel
	8px  -> icon padding top side-panel
*/

.content-small {
	margin: 72px 24px 0px 224px;
}

.content-large {
	margin: 72px 24px 0px 84px;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	width: 15px;
	background: #292B2F;
}

::-webkit-scrollbar-thumb {
	background: #4D525B;
	border-radius: 10px;
	border-style: hidden;
	border: 3px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background: #63686F;
}