* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

/*
.content-small {
	margin: 80px 24px 0px 224px;
	background-color: #dbd9d7;
}

.content-large {
	margin: 80px 24px 0px 84px;
	background-color: #dbd9d7;
}
*/

/*
	56px -> header size
	8px  -> padding top side-panel
	8px  -> icon padding top side-panel
*/

.content-small {
	height: 85vh;
	margin: 72px 24px 0px 224px;
}

.content-large {
	height: 85vh;
	margin: 72px 24px 0px 84px;
}