/* body {
	--nav-width: 0px;
	margin: 0 0 0 var(--nav-width);
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
} */

/* Add padding to the top of the page content */
body {
    padding-top: 80px;
}

/* Ensure that the navbar doesn't overlap the content proportionate to screen size*/
@media (min-width: 992px) {
    body {
        padding-top: calc(80px + 4rem); 
    }
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--nav-width);
	height: 50vh;
	background: #222222;
}

.navLink {
	display: block;
	padding: 12px 18px;
	text-decoration: none;
	color: #eeeeee;
	font-weight: 500;
}
.SelectRed{
	text-decoration: none;
}

.SelectRed:hover {
	animation: SelectRed 500ms forwards;
}

#app {
	/* margin: 2em; */
	line-height: 1.5;
	font-weight: 500;
}

a {
	color: #b90000;
}

@keyframes SelectRed {
	from{
		/* color: white;
		padding: 12px 18px; */
	}
	to{
		color: red;
		padding: 12px 25px;
	}
}