{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>2FA</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
		<script src="{% static 'update_configuration.js' %}"></script>
	</head>
	<body class="update_configuration_2fa_body">
		<div class="container mt-3 p-5 myBody">
			<h1>2FA Update Configuration</h1><br>

		</div>
	</body>
</html>
