{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title id="page_title">Email Verification</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="container" id="container">
		<a href="https://www.flaticon.com/free-icons/mail" title="mail icons">
			<img id="email_icon" alt="Email Icon">
		</a>
		<h1 id="header_1"></h1>
		<p id="paragraph"></p>
	</div>
	<script src="{% static 'email_already_verified.js' %}"></script>
</body>
</html>
