{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="page_title">Email Verification</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container" id="container">
    <img id="email_icon" src="{% static 'images/email_success.png' %}" alt="Email Icon">
    <h1 id="header_1"></h1>
    <p id="paragraph"></p>
    <a id="link" href="#" class="btn btn-primary"></a>
  </div>
  <script src="{% static 'email_verification.js' %}"></script>
</body>
</html>
