{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JavaScript Pong</title>
	<link rel= "stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<canvas id ="canvas1" width="800" height="500"></canvas>
	<script type="module" src="{% static 'main.js' %}"></script>
	<script>

			const jsonData = {
					"key": "s"
				}
			console.log("hey!");
			async function logData() 
			{
				console.log("hey!!");
				const response = await fetch("http://127.0.0.1:8000/api/game/player-input", {
					credentials: 'include',
					method: 'POST',
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(jsonData)

				});
				console.log("hey!!!");

				const data = await response.json();
				console.log("hey!!!!");
				// console.log(data);
			}
			logData();

	</script>
</body>
</html>