{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JavaScript Pong</title>
	<link rel= "stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<button type="click" class="btn">Pause Game</button>
	<canvas id ="canvas1" width="800" height="500"></canvas>
	<script type="module" src="{% static 'main.js' %}"></script>
	<style>
		#canvas1 {
			/* width: 1500px; */
			border: 5px solid white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
			max-height: 100%;
		}
		body {
			font-family: 'Silkscreen', sans-serif;
		}
	</style>
	<script>

			// const jsonData = {
			// 		key: "s",
			// 		id: "hmtl"
			// 	}
			// console.log("hey!");
			// async function logData() 
			// {
			// 	console.log("hey!!");
			// 	const response = await fetch("http://127.0.0.1:8000/api/game/player-input", {
			// 		credentials: 'include',
			// 		method: 'POST',
			// 		headers: {
			// 			"Content-Type": "application/json"
			// 		},
			// 		body: JSON.stringify(jsonData)

			// 	});
			// 	console.log("hey!!!");

			// 	const data = await response.json();
			// 	console.log("hey!!!!");
			// }
			// logData();
	</script>
</body>
</html>