<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Authentication test</title>
		<style>
			div {
  				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<h1>Authentication test</h1>

		<div>USER: </div>

		<div><a href="http://127.0.0.1:8080/signup">Signup</a></div>
		<div><a href="http://127.0.0.1:8080/login">Login</a></div>
		<div><a href="http://127.0.0.1:8080/logout">Logout</a></div>
		<div><a href="http://127.0.0.1:8080/info">info</a></div>
		<div><a href="http://127.0.0.1:8080/chat">chat</a></div>
		<div><a href="http://127.0.0.1:8080/refresh">refresh</a></div>
		<div><a href="http://127.0.0.1:8080/user_profile">profile</a></div>
	</body>
</html>
