<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>
		<style>
			div {
  				font-size: 30px;
			}
		</style>
	</head>
	<body>
        <h1>Login</h1>

        <form id="loginForm">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Login</button>
        </form>

        <script>
            document.getElementById("loginForm").addEventListener("submit", function(event) {
                event.preventDefault();
    
                /*const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;
    
                const data = JSON.stringify({
                    username: username,
                    password: password
                });*/

                const formData = new FormData(loginForm);
                const payload = new URLSearchParams(formData);

                fetch("http://127.0.0.1:8000/user/api/login", {
                    method: "POST",
                    body: payload
                })
                .then(response => response.json())
                .catch(error => {
                    console.log("error");
                });
            });
        </script>
	</body>
</html>