<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Signup</title>
		<style>
			.message {
  				font-size: 20px;
			}
			.success {
				color: green;
				display: block;
			}
			.error {
				color: red;
				display: block;
			}
			.displayNone {
				display: none;
			}
		</style>
	</head>
	<body>
		<h1>Signup</h1>

		<div class="displayNone message"></div>
		<br>
		<form id="signinForm">
			<label for="email">Email:</label><br>
			<input type="email" id="email" name="email"><br>
			<br>
			<label for="username">Username:</label><br>
			<input type="text" id="username" name="username"><br>
			<br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password"><br>
			<br>
			<button type="submit">Signup</button>
		</form>

		<script>
			document.getElementById("signinForm").addEventListener("submit", function(event) {
				event.preventDefault();

				const formData = new FormData(signinForm);
				const jsonData = {};
				formData.forEach((value, key) => {
					jsonData[key] = value;
				});

				fetch("http://127.0.0.1:8000/api/auth/register", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(jsonData)
				})
				.then(response => data = response.json())
				.then (data => {
					console.log("=========================");
					console.log(`message: ${data["message"]}`);

					const msgElm = document.querySelector(".message");
					msgElm.classList.remove("displayNone");
					msgElm.classList.remove("success");
					msgElm.classList.remove("error");
					msgElm.innerHTML = data["message"];
					if (data["message"] == "success")
						msgElm.classList.add("success");
					else
						msgElm.classList.add("error");
				})
				.catch(error => {
					console.log("Login fetch Error");
				});
			});
		</script>
	</body>
</html>